/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Cabin", sans-serif; 
}

.head-nav{
    background-color: #255EE9;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.logo-div{
    width: 1000px;
    margin: 0 auto 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style-type: none;
    display: inline-block;

}

#header-ul{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

li{
    margin: 0 1rem 1rem 0;
}

button{
    border: 0 none;
    border-radius: 25px;
    padding: .5rem 1rem;
}

#sub-nav{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

#intro{
    width: 700px;
    height: 350px;
    text-align: center;
    padding-top: 5rem;
    margin: 0 auto;
}

h1{
    font-size: 45px;
}

p{
    padding: 3rem 0 1rem;
    font-size: 18px;
}

p.font-white{
    padding: 1.8rem 0 1rem;
    text-align: center;
    font-size: 18px;
}

#download{
    margin-right: 1rem;
}

.space-division{
    padding: 4rem;
}

.maindiv{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.span-main{
    padding-top: 2rem;
}

.centered{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2{
    font-size: 45px;
}

.bottomdiv{
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

h3{
    margin: 2.5rem;
}

.stars{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.wave{
    background-image: url(../img/wave.svg);
    height: 100px;
    background-size: cover;
}

.wavereverse{
    background-image: url(../img/wave.svg);
    height: 100px;
    background-size: cover;
    rotate: 180deg;
}

.foot-div{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}

.foot-nav{
    display: flex;
    justify-content: space-around;
}

.foot-span{
    max-width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h4{
    font-size: 22px;
}

#flag{
    width: 20px;
    margin-right: .5rem;
}

#lang-site{
    font-size: 15px;
    padding: 1rem 0;
}

i{
    padding-right: 1rem;
}

hr{
    max-width: 1000px;
    color: #6A7FC7;
    margin: 1rem auto;
}
/* font color */

.font-blue{
    color: #6A7FC7;
}

.font-white{
    color: white;
}

/* bg-color */

.bg-color-blue{
    background-color: #6A7FC7;
    color: white;
}

.bg-color-darkgrey{
    background-color: #23272A;
    color: white;
}

.bg-color-lightgrey{
    background-color: #F6F6F6;
}